{% extends 'base.html.twig' %}

{% block title %}Livre index
{% endblock %}

{% block body %}
	<br><br>
	<h1 class="h3 mb-3 font-weight-normal">
		&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Book List</h1>
	<div align="right" style="margin-right:15px;">
		<a href="{{ path('livre_new') }}" class="btn btn-primary">Create new</a>
	</div>
	{# <table class="table">
																																								        <thead>
																																								            <tr>
																																								                <th>Id</th>
																																								                <th>Titre</th>
																																								                <th>Description</th>
																																								                <th>Categorie</th>
																																								                <th>Statut</th>
																																								                <th>Date_emprunt</th>
																																								                <th>Date_retour</th>
																																								                <th>actions</th>
																																								            </tr>
																																								        </thead>
																																								        <tbody> #}
	<div class="container">
		<div class="row">
			{% for livre in livres %}

				<div class="card" style="width: 18rem;margin:5px">


					<img class="card-img-top" src="{{asset('/uploads/images/'~livre.image)}}" alt="Card image cap">


					<div class="card-body">
						<h5 class="card-title">{{ livre.titre }}</h5>
						<p
							class="card-text">
							{# {% if livre.categorie[0] != null %}
																																																																																																																																																																																																																																																																																								            <b>Categorie :</b> {{ livre.categorie[0] }}  <br>
																																																																																																																																																																																																																																																																																								            {% endif %} #}
							<b>Statut :</b>
							{{ livre.statut }}</p>
						<a href="{{ path('livre_show', {'id': livre.id}) }}" class="btn btn-secondary">Show</a>
						<a href="{{ path('livre_edit', {'id': livre.id}) }}" class="btn btn-primary">Edit</a>
					</div>
				</div>


			{% else %}
				<tr>
					<td colspan="7">no records found</td>
				</tr>
			{% endfor %}
		</div>
	</div>
</tbody></table>{% endblock %}
