{% extends 'base.html.twig' %}

{% block title %}Livre index{% endblock %}

{% block body %}
        <h1>Livre index</h1>
        <div align="right" style="margin-right:15px;">
            <a href="{{ path('livre_new') }}" class="btn btn-primary">Create new</a>
        </div>
    {# <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Categorie</th>
                <th>Statut</th>
                <th>Date_emprunt</th>
                <th>Date_retour</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody> #}
        <div class="container">
  <div class="row">
        {% for livre in livres %}

        <div class="card" style="width: 18rem;margin:5px">
        <img class="card-img-top" src="{{ livre.image.url}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ livre.titre }}</h5>
            <p class="card-text">
            <b>Categorie :</b> {{ livre.categorie[0]}}  <br>
            <b>Statut :</b> {{ livre.statut }}</p>
            <a href="{{ path('livre_show', {'id': livre.id}) }}" class="btn btn-secondary">Show</a>
            <a href="{{ path('livre_edit', {'id': livre.id}) }}" class="btn btn-primary">Edit</a>
        </div>
        </div>
            {# <tr>
                <td>{{ livre.id }}</td>
                <td>{{ livre.titre }}</td>
                <td>{{ livre.description }}</td>
                <td>{{ livre.categorie[0]}}</td>                
                <td>{{ livre.statut }}</td>
                <td>{{ livre.dateEmprunt ? livre.dateEmprunt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ livre.dateRetour ? livre.dateRetour|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('livre_show', {'id': livre.id}) }}">show</a>
                    <a href="{{ path('livre_edit', {'id': livre.id}) }}">edit</a>
                </td>
            </tr> #}
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
                </div>
        </div>
        </tbody>
    </table>

{% endblock %}
