{% extends 'base.html.twig' %}
{% block title %} Hello LivreController! {% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
{% for message in app.flashes ('notice') %} <div class="flash-info" style="color: red"> {{message }}
</div>
{% endfor %}

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Titre</th>
       <th scope="col">Description</th>
        <th scope="col">Statut</th>
         <th scope="col">Date Emprunt</th>
        <th scope="col">Date retour</th>

    </tr>
  </thead>
  <tbody>
     {% for livre in livres %}
        <tr>
            <td>{{livre.titre}}</td>
            <td>{{livre.Description}}</td>
            <td>{{livre.statut}}</td>
            <td>{{livre.dateEmprunt|date('d/m/Y')}}</td>
            <td>{{livre.dateRetour|date('d/m/Y')}}</td>

        </tr>
    {% endfor %}
  </tbody>
</table>

</div>
{% endblock %}




